*{
	box-sizing: border-box;
}

.circ{
	width: 3.5rem !important;
	height: 3.5rem !important;
}

.box, .box h1, .fa{
	text-align: center !important;
	transition: 0.3s !important;
}

.fa{
	margin-bottom: 12px;
}

.box{
	max-width: 25rem !important;
	height: 15rem !important;
	width: 100% !important;
}

.box:hover{
	box-shadow: 0 0 2px rgba(0,0,0,0.3) !important;
}

.box:hover h1, .box:hover .fa{
	color: blue !important;
}

label{
  font-weight: bold;
}

.form-link:hover{
  text-decoration: underline;
}

.loader.border{
	border-style: dashed !important;
}